

// COLORS
$color-primary: #373e68;

$color-secondary: #4761df;
$color-secondary-light: #74b2df; // #7db4dd

$color-pink: #d3529f;
$color-pink-secondary: #e78591;

$color-purple: #aa21ed;

$color-white: #ffffff;
$color-white-secondary: #f2f6fd;
$color-bg: #f7f8fc;
