@import "../assets/scss/main.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  color: $color-primary;
}
/* ::selection {
   background:rgba(252, 229, 55, 0.72);
 } */

html {
  ///// MIN WIDTH RULES GOES IN ASCENDING ORDER //////
  @include responsive(1600px) {
    font-size: 93.75%;
  }
  @include responsive(1800px) {
    font-size: 100%;
  }

  font-size: 62.5%;

   ///// MIN WIDTH RULES GOES IN DESCENDING ORDER //////
  @include responsive(800px) {
    font-size: 56.25%;
  }

  @include responsive(500px) {
    font-size: 50%;
  }

  @include responsive(500px) {
    font-size: 50%;
  }

  @include responsive(425px) {
    font-size: 43.75%;
  }

  @include responsive(375px) {
    font-size: 37.5%;
  }
}

body {
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
  background: $color-bg;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style: none;
}

button,
input,
textarea,
select,
option {
  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}

textarea {
  cursor: text;
}



